[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
rope = "*"
isort = "*"
factory-boy = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django = "*"
django-crispy-forms = "*"
whitenoise = "*"
importlib-metadata = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-filter = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
